.createContainer {
  margin: 20px 0;
}

.title {
  font-size: 14pt;
  margin-bottom: 5px;
}

.subtitle {
  color: var(--text-muted);
  margin-bottom: 15px;
}

.form {
  display: table;
}

.inputGroup {
  display: table-row;
}

.inputGroup label {
  display: table-cell;
  padding-right: 10px;
  padding-bottom: 5px;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  display: table-cell;
  margin-bottom: 5px;
}

.row {
  display: contents;
}

.sectionDivider {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkboxGroup {
  margin-bottom: 10px;
}

.errorAlert {
  color: red;
  margin-bottom: 10px;
}
